/*.changeName {
  max-width: 150px;
  width: 100%;
  font-size: 35px;
}*/

.glitch {
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  //text-transform: uppercase;
  position: relative;
  color: #8865c0;
  //mix-blend-mode: lighten;
}

