.headerContainer {
  background-color: #8865c0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navigate {
  display: flex;
  justify-content: space-between;
  width: 130px;
}